{% extends 'base.html' %} {% load static %} {% block title %} Uploader
{%endblock %} {% block content %} {% include 'navbar.html' %}
<div class="first-container vertical-center">
  <img class="samping" src="{% static 'img/Welcome-rafiki.png' %}" />
  <div class="col-md-6 beranda"">
    <h1><b>Upload Your Files!</b></h1>
    <p>
      Website ini merupakan salah satu bentuk jawaban dari 
      beberapa pertanyaan mengenai test take home.
      Di website ini kita bisa mengunggah sebuah file dengan extension
      apapun. Namun, masih terdapat kekurangan dalam melakukan unduh file
    </p>
    <button class="btn registerbutton">
      <a href="/preform">
        <div><strong>Add your doc</strong></div>
      </a>
    </button>
  </div>
</div>

{% include 'footer.html' %} {% endblock %}
